# IMPORTANT: Always use / in paths even when running the system on windows

# Options for lexical analysis
USE_STEMMER = true
USE_STOPWORDS = true

# Related to partial index
PARTIAL_INDEX_MAX_DOCS_SIZE = 200000
MAX_MEMORY = 2GB

# Retrieval model VSM/BM25/Existential
RETRIEVAL_MODEL = BM25

# Pagerank
PAGERANK_THRESHOLD = 1E-8
PAGERANK_DAMPING_FACTOR = 0.85

# Statistics for the citations graph (also the graph data itself)
CITATIONS_GRAPH_PATH = F:/s2/citations_graph

# Query Evaluator Weights - Should sum to 1.0
RETRIEVAL_MODEL_WEIGHT = 0.75
PAGERANK_PUBLICATIONS_WEIGHT = 0.25
PAGERANK_AUTHORS_WEIGHT = 0.0

# Related to indices file names
INDEX_PATH = F:/s2/index2
INDEX_TMP_PATH = F:/s2/index_tmp
DATASET_PATH = F:/s2/data

VOCABULARY_FILENAME=vocabulary.idx
POSTINGS_FILENAME=postings.idx
DOCUMENTS_FILENAME=documents.idx
DOCUMENTS_META_FILENAME=documents_meta.idx
DOCUMENTS_ID_FILENAME=documents_id.idx
META_FILENAME=meta.idx

# Query expansion Glove/extJWNL
QUERY_EXPANSION_ENABLED=false
QUERY_EXPANSION_MODEL=Glove

# Deep learning models
WORD2VEC_FILENAME=F:/s2/GoogleNews-vectors-negative300.bin.gz
GLOVE_FILENAME=F:/s2/glove.6B.50d.txt

# Evaluation
JUDGEMENTS_PATH=F:/s2/TREC-Competition-eval-sample-with-rel.json
EVALUATION_FILENAME=evaluation.txt