# Options for lexical analysis
USE_STEMMER = true
USE_STOPWORDS = true

# Related to partial index
PARTIAL_INDEX_MAX_DOCS_SIZE = 200000
MAX_MEMORY = 2GB

# Related to indices file names
INDEX_PATH = /home/papadako/index/
DATASET_PATH = /home/papadako/dataset

VOCABULARY_FILENAME=vocabulary.idx
POSTINGS_FILENAME=postings.idx
DOCUMENTS_FILENAME=documents.idx
META_FILENAME=meta.idx
