# Options for lexical analysis
USE_STEMMER = true
USE_STOPWORDS = true

# Use Titles in indexing/
TITLES_ENABLED=false
TITLES_PATH=/home/team2/SemanticsScholar_2019-01-31/titles

# Related to partial index
PARTIAL_INDEX_MAX_DOCS_SIZE = 200000
MAX_MEMORY = 2GB

# Retrieval model VSM/BM25/Existential
RETRIEVAL_MODEL = BM25

# Pagerank
PAGERANK_THRESHOLD = 1E-8
PAGERANK_DAMPING_FACTOR = 0.85

# Query Evaluator Weights - Should sum to 1.0
RETRIEVAL_MODEL_WEIGHT = 0.7
PAGERANK_PUBLICATIONS_WEIGHT = 0.3
PAGERANK_AUTHORS_WEIGHT = 0.0

# Related to indices file names
INDEX_PATH = /home/team2/index/
INDEX_TMP_PATH = /home/team2/index_tmp/
DATASET_PATH = /home/team2/SemanticsScholar_2019-01-31/collection/

VOCABULARY_FILENAME=vocabulary.idx
POSTINGS_FILENAME=postings.idx
DOCUMENTS_FILENAME=documents.idx
DOCUMENTS_META_FILENAME=documents_meta.idx
META_FILENAME=meta.idx

# Query expansion Glove/extJWNL
QUERY_EXPANSION_ENABLED=false
QUERY_EXPANSION_MODEL=Glove

# Deep learning models
WORD2VEC_FILENAME=/home/team2/deeplearning/word2vec/GoogleNews-vectors-negative300.bin.gz
GLOVE_FILENAME=/home/team2/deeplearning/glove/glove.6B.50d.txt

# Evaluation
JUDGEMENTS_PATH=/home/team2/SemanticsScholar_2019-01-31/evaluation/TREC-Competition-eval-sample-with-rel.json
EVALUATION_FILENAME=evaluation.txt